
    *{
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
        /* transition: .20s ease-in-out; */
        /* transition: smooth; */
    }
    body,html{
        font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
        height: 100%;
        font-style: normal;
    }
    nav{
        background-color: rgb(26, 26, 26);
        height:45px;
        display: flex;
        justify-content: center;
    }
    nav ul{
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        display: flex;
        text-decoration: none;
        max-width: 800px;
        width: 100%;
        color: rgb(212, 209, 209);
        justify-content: space-between;
        font-size: 12px;
        transition: .10s;
        z-index: 5;
    }
    nav ul li{
        display: block;
        letter-spacing: 0.3px;
        padding: 0 -8px;
        line-height: 45px;
        transition: .10s;
        z-index: 10;
    }
    .content{
        display: flex;
        max-width: 996px;
        width: 100%;
        gap: 10px;
        justify-content: space-between;
    }
    .logo{
        line-height: 45px;
        font-size: larger;
        text-decoration: none;
        list-style-type: none;
        float: left;
        transition: 0.3s;
        z-index: 0;
        padding: 0 16px;
    }

    #sicon{
        padding: 0 16px;
        line-height: 45px;
    }
    #cart{
        padding: 0 16px;
        line-height: 45px;
    }
    #sicon2{
        display: none;
        padding: 0 16px;
        line-height: 45px;
    }
    #cart2{
        display: none;
        padding: 0 16px;
        line-height: 45px;
    }
    #bars{
        line-height: 40px;
        padding: 0px 16px;
        display: none;
        color: white;
    }
    #check{
        display: none;
    }
    #check:checked ~ ul{
        transition: .5s ease-in-out;
        top: 0;
    }
    .nav2{
        color: white;
        background-color:rgb(32, 31, 31);
        text-align: center;
        height: auto;
        width: 100%;
        line-height: 20px;
        letter-spacing: -0.1px;
    }
    .nav2 p{
        font-size: 14px;
        padding:12px 0;
        width: 100%;
        display: inline-block;
        line-height: 20px;
        font-weight: 400;
        font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        
    }
    .nav2 span a{
        color: #06c;
        text-decoration: none;
        letter-spacing: inherit;
    }
    .nav2 span a:hover{
        text-decoration: underline;
    }
    .mob{
        display: none;
        margin: auto;
        height: 350px;
    }
    .main{
        position: absolute;
        margin: 0;
        top: 65%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* z-index:0; */
        width: 700px;
    
    }
    .imageholder{
        color: rgb(245, 245, 247);
        background-color: rgb(0, 0, 0);
        height: 600px;
        overflow: hidden;
        /* z-index: -2; */

    }
    .span{
        color: rgb(41, 151, 255);
        margin: auto;
        text-align: center;
        font-size: larger
    }
    .heading{
        justify-content: space-around;
        text-align: center;
        padding: 50px 50px;
        letter-spacing: -0.8px;
    }
    .heading h1{
        position: relative;
        /* z-index: 3; */
        letter-spacing: -.005em;
        font-weight: 600;
        font-size: 56px;
        font-style: inherit;
    }
    .heading p{
        /* z-index: 3; */
        font-size: 28px;
        letter-spacing: .004em;
        font-weight: 280;
        position: relative;
    }
    .links{
        /* z-index: 3; */
        margin: auto;
        display:flex ;
        line-height:40px;
        width:250px;
        margin-top: -0.50em;
        justify-content: space-around;
    }
    .links p{
        padding: 0px;
        font-weight: 400;
        font-size: 19px;
        letter-spacing: .011em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        
    }
    @media(max-width:1075px) {
        .heading h1{
            font-size: 48px;
            letter-spacing: -.023em;
            font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        }
        .heading p{
            font-size: 24px;
            letter-spacing: -.014em;
            font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        }
        .links{
            display: flex;
            width: 220px;
            line-height: 38px;
            margin-top: -0.65em;
        }
        .links p{
            font-size: 17px;
            letter-spacing: -.009em;
            font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        }
        .main{
            width: 600px;
        }
    }
    @media(max-width:936px){
        nav ul li{
            font-size: 12px;
            padding: 0 12px;
        }
     
    }
    @media(max-width:863px){
        nav ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 99vh;
            justify-content:flex-start;
            background: rgb(29, 29, 31);
            position: fixed;
            top:-200%;
            transition: .10s;
            padding: 30px 40px;
        }
        nav ul li{
            display: block;
            line-height:50px;
            font-size: x-large;
            font-weight: bolder;
            width: auto;
        }
        #sicon,#cart{
            display: none;
        }
        #sicon2,#cart2{
            display: block;
            line-height: 45px;
        }
        .logo{
            margin-right: auto
        }
        #bars{
            display: block;
            float: right;
            z-index: 100;
            line-height: 45px;
        }
        .nav2{
            height: auto;
        }
        .heading{
            font-size: smaller;
        }
    }
    @media(max-width:735px){
        .main{
            display: none;
        }
        .mob{
            display: block;
            height: 515px;
            width: 125px;
            margin-top: -57px;
        }
        .nav2 p{
            font-size: 12px;
            padding: 10px 0px;
            text-align: center;
            line-height: 16px;
            max-width: 410px;
            width: 100%;
            margin: auto;
        }
        .heading{
            margin-top: -9px;
        }
        .heading h1{
            font-size: 33px;
            letter-spacing: -.023em;

        }
        .heading p{
            font-size: 1.3em;
            font-weight: 500;
            padding: 4px 0;
        }
        .links{
            margin-top: -1.45em;
        }
    }
    @media(max-width:479px){
        .heading{
            max-width: 479px;
            padding: 50px 0;
            margin: auto;
            width: 100%;
        }
       
    }
    @media(max-width:300px){
        .nav2{
            height: auto;
            font-size: smaller;
        }
    }
